
/* =========== this styleng for links responsev ========== */
 /* .parent::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ccccccc2 transparent;
    position: absolute;
    right: 58px;
    top: 31px;
} */