
:root {
    --main-color: #396C03;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', serif;
   font-family: 'Merienda', cursive;
}

body {
    display: flex;
    padding: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    background-color: #ebf0e5;
    background-color: #ebf0e5;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 30px;
    background-color: var(--main-color);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--main-color);
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 8px 0 15px;
    justify-content: flex-start;
    align-self: start;
    gap: 30px;
}

form .gender-details .category label {
    display: flex;
}


form .gender-details .category .dot {
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 10px;
 background-color: #d9d9d9;
 cursor: pointer;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}


#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
    border-color: #d9d9d9;
    background-color: var(--main-color);
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
   background-color: var(--main-color);
    cursor: pointer;
    transition: 0.3s;
}

form .button input:hover {
    opacity: 0.8;
}

@media(max-width:584px) {
    .container {
        max-width: 100%;
    }

    .container form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    
}