:root {
    --main-color: #396C03;
}



* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    align-self: start;
    text-decoration: none;
}

body {
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background-color: #ebf0e5;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}

.container {
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
     margin: auto;
}

.container .title {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 10px 0;
    position: relative;
  }
  
  .container .title::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 3px;
      width: 30px;
      background-color: var(--main-color);
  }


  .container .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
  }

  .container .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
  }

  .container .text {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    text-align: center;
    color: #1877f2;
    cursor: pointer;
}
  

  .container .underline::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ccc;
    left: 0;
    bottom: 0;
  }

  .container .underline::after {
      content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }

  .container .input-box input:focus ~ .underline::after {
    transform: scaleX(1);
  }

  .container .input-box input:last-child {
    transition: 0.3s ease-in;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-color);
  }

  .container .input-box input:last-child:hover {
    background-color: var(--main-color);
    color: #fff;
  }

  .container .create {
    width: 100%;
    text-align: center;
  }

  .container button {
    margin-top: 35px;
    background-color: #1877f2;
    height: 45px;
    width: 70%;
    border: none;
    cursor: pointer;
  }

  .container button a {
    color: #fff;
    font-size: 16px;
  }

